.library {
    position: fixed;
    top: 0;
    left: 0;
    width: 30rem;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    h1 {
        padding: 1rem;
        padding-top: 1rem;
    }
}

.library-songs {
    display: flex;
    flex-direction: column;
}

.library-song {
    display: flex;
    padding: 0 1rem;
    margin-top: 1rem;
    img {
        width: 40%;
    }
    &--info {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.active-song {
    background-color: lightblue;
}