    .player-container {
        min-height: 20vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .song-control {
        width: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
        input {
            width: 100%;
            -webkit-appearance: none;
            background-color: transparent;
            cursor: pointer;
        }
        p {
            padding: 1rem;
        }
    }
    
    .player-control {
        width: 30%;
        display: flex;
        justify-content: space-between;
        svg {
            cursor: pointer;
        }
    }
    
    @media screen and (max-width: 768px) {
        .song-control {
            width: 90%;
        }
        .player-control {
            width: 60%;
        }
    }
    
    @media screen and (max-width: 550px) {
        .song-control {
            width: 95%;
        }
        .player-control {
            width: 70%;
            svg {
                font-size: 25px;
            }
        }
        .player-container {
            justify-content: space-evenly;
        }
    }
    
    .track {
        width: 80%;
        height: 1rem;
        position: relative;
        border-radius: 1rem;
        background-color: rgb(119, 159, 211);
        overflow: hidden;
    }
    
    .animate-track {
        background-color: rgb(204, 204, 204);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        transform: translateX(0%);
        padding: 1rem;
    }
    
    input[type="range"]:focus {
        outline: none;
    }
    
    input[type="range"]::-webkit-slider-thumb {
        background: transparent;
        cursor: pointer;
        -webkit-appearance: none;
        height: 16px;
        width: 16px;
    }