.song-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
        width: 23%;
        border-radius: 50%;
    }
    h1 {
        margin: 2rem 0 1rem 0;
    }
}

@keyframes rotate-image {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animate-cover {
    animation-name: rotate-image;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@media screen and (max-width: 1350px) {
    .song-container {
        img {
            width: 30%;
        }
    }
}

@media screen and (max-width: 1100px) {
    .song-container {
        img {
            width: 35%;
        }
    }
}

@media screen and (max-width: 950px) {
    .song-container {
        img {
            width: 40%;
        }
    }
}

@media screen and (max-width: 768px) {
    .song-container {
        img {
            width: 55%;
        }
    }
}

@media screen and (max-width: 550px) {
    .song-container {
        img {
            width: 70%;
        }
    }
}

@media screen and (max-width: 350px) {
    .song-container {
        img {
            width: 75%;
        }
    }
}